.toastCalendar{
    background:green
}

.rbc-btn-group{
    display: none !important;
}

.rbc-toolbar{
    font-size: 18px !important;
}

.rbc-event-content{

}
.test{
background-color: red;
}
.react-datepicker-popper{
    z-index: 999;
}