.dropdownRight {
    width:250px;
}

.dropdownLeft {
    width:250px;
    max-height:30px;
    margin-right: 25px;
}

.dropdownLeft2 {
    width:250px;
}

.menuModal{
    height: 50px;
    padding: 20px;
    margin-bottom: 30px !important;
}
.contentMenuModal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marginRight{
    margin-right: 10px;
}

.dropdownOrar{
    width:20%;
    display:inline-block;
}

.dropdownTimePicker{
    margin-left: 5px;
    width:160px;
}
.timePickerOrar{
    margin-left: 5px;
    margin-top: 10px;
}

.ant-picker {
    border: 2px solid #96c8d4 !important;
    border-radius:10px !important;
}

.ui.input>input {
    border: 2px solid #96c8d4 !important;
    border-radius:10px !important;
}
.ant-picker-input > input {
    font-size: 1.2rem !important;
    color:rgb(129 129 129) !important;
}
.ant-picker-ranges{
    display: none
}

.react-datetime-picker__inputGroup__input--hasLeadingZero, .react-datetime-picker__inputGroup__divider, .react-datetime-picker__inputGroup__leadingZero, .react-datetime-picker__inputGroup__hour, .react-datetime-picker__clear-button{
    display: none;
}
.react-calendar{
    z-index: 11;
}

.react-datetime-picker__inputGroup__minute {
    display: none !important;
}
.ui.modal{
    position: relative!important;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #afafaf !important;
    border-radius:5px !important;
}
.ui.dimmer .ui.modal .ui.loader:before {
    border-color: rgba(0,0,0,.1);
}

.ui.dimmer .ui.modal .ui.loader:after {
    border-color: #767676 transparent transparent;
}
