@font-face {
  font-family: "UT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/UTSansExtended-Regular.ttf") format("truetype");
}

body {
  /*margin: 10px;*/
  font-family: "UT Sans", sans-serif;
}

h1 {
  font-family: "UT Sans", sans-serif !important;
  color: #666666 !important;
}

h2 {
  font-family: "UT Sans", sans-serif !important;
}

h3 {
  font-family: "UT Sans", sans-serif;
}

h4 {
  font-family: "UT Sans", sans-serif;
}

h5 {
  font-family: "UT Sans", sans-serif;
}

h6 {
  font-family: "UT Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

/*override la css-uri din DNN*/
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.grid {
  border: 0 !important;
}

#MainWrapper {
  max-width: 1920px !important;
}

.spd-row {
  max-width: 1920px !important;
}

/*suprascriem semantic.ui-ul sa aiba default fontul UT Sans"*/
.ui {
  font-family: "UT Sans", sans-serif !important;
}

.ui.grid {
  display: block !important;
}

.ui.grid > .column {
  display: block !important;
}

.ui.grid > .row {
  flex-wrap: nowrap !important;
}

/*override necesar ca modalele sa nu o mai ia razna in DNN*/
.modal{
  top: unset!important;
  right: unset!important;
  bottom: unset!important;
  left: unset!important;
}
/*override necesar pentru ca DNN-ul sa nu mai adauge margini verticale foarte mari pentru checkbox-uri*/
.checkbox {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
